@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: transparent;
  transition: background-color 0.5s ease;
  background-color: #fff;
}

h1 {
  font-size: clamp(1.875rem, 1.0417rem + 4.1667vw, 4.375rem);
}

.services h3 {
  @apply font-semibold  my-[60px] md:mt-[90px];
  font-size: clamp(2.3125rem, 2.0276rem + 1.2155vw, 2.75rem);
}

.deliver h2 {
  font-size: clamp(1.75rem, 1.5687rem + 0.7735vw, 2.05rem);
}

.partners h3 {
  font-size: clamp(2.3125rem, 2.0276rem + 1.2155vw, 3rem);
}


.carousel .item {
  @apply w-full md:w-[45%] xl:w-[30%] max-h-[50px] xl:max-h-[70px] flex items-center ;
}

.carousel .item img {
  @apply max-w-[200px] xl:max-w-[300px] h-full mx-auto;
}

.ways h4 {
  @apply font-[600] max-w-[720px] w-full mx-auto text-center mb-5;
  font-size: clamp(2.3125rem, 2.0276rem + 1.2155vw, 3rem);
}

.ways .subtitle {
  font-size: clamp(0.875rem, 0.8232rem + 0.221vw, 1rem);
}

.statistics .title {
  @apply mb-[35px] max-w-[770px] md:text-center md:mx-auto font-bold;
  font-size: clamp(1.75rem, 0.4976rem + 5.3435vw, 3.0625rem);
}

.statistics .subtitle {
  @apply mb-[50px] md:text-center md:mx-auto max-w-[555px] opacity-70;
  font-size: clamp(0.875rem, 0.5172rem + 1.5267vw, 1.3rem);
}

.cooperate p.title {
  @apply font-[600] text-center mb-[40px];
  font-size: clamp(2.0625rem, 1.8294rem + 0.9945vw, 2.625rem);
}

.cooperate .item {
  @apply text-center max-w-[520px] mx-auto lg:flex-1 lg:max-w-none;
}

.cooperate .item svg {
  @apply mx-auto mb-[15px] md:mb-[25px];
}

.cooperate .subtitle {
  @apply font-[600] mb-[15px] text-[24px];
}

.cooperate .desc {
  @apply lg:max-w-[340px] mx-auto;
  font-size: clamp(0.8125rem, 0.7348rem + 0.3315vw, 1rem);
  font-weight: 500;
}

@media (min-width: 1024px) {
  .cooperate .flex {
    background-image: url("./assets/images/arrow.svg"),
      url("./assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: 31% 12%, 68% 12%;
  }
}

.statistics .data {
  @apply gap-x-[15px] gap-y-[35px];
}

.statistics .data .item {
  @apply text-center flex-1;
}

.statistics .num {
  @apply text-[57px] font-bold;
}

span.red {
  @apply text-[#ff2400];
}

span.green {
  @apply text-[#66ff00];
}

span.blue {
  @apply text-[#00bfff];
}

.statistics .desc {
  @apply text-[#fff] max-w-[300px] mx-auto;
  font-size: clamp(0.8125rem, 0.6336rem + 0.7634vw, 1rem);
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bannerMain {
  background-image: url("./assets/images/banner.svg");
}

.bannerAbout {
  background-image: url("https://blog.ibanfirst.com/hubfs/Featured_Supply-chain.jpg");
}

.bannerFly {
  background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/201201101630-jet-test-2.jpg?q=w_3471,h_1953,x_0,y_0,c_fill")
}

.bannerFly::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #222308, #222308);
  opacity: 0.6;
}

.bannerFly .container {
  z-index: 10;
}

.bannerAbout .container {
  z-index: 10;
}

.bannerAbout::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #222308, #222308);
  opacity: 0.3;
  mix-blend-mode: hue;
}

.btn-question .link {
  @apply transition font-bold bg-[#F00] duration-300 hover:bg-white hover:text-black hover:scale-[1.02];
  font-size: clamp(0.75rem, 0.6875rem + 0.3125vw, 0.9375rem);
  /* box-shadow: 0px 0px 25px 0px rgba(255,0,0,1); */
}

.advantages p {
  font-size: clamp(0.8125rem, 0.7607rem + 0.221vw, 0.9375rem);
  line-height: 25px;
  font-weight: 600;
}

.nav-desktop .modal {
  @apply hidden me-auto bg-white text-black font-[500] py-[18px] px-5 text-[20px] w-[350px];
}

.nav-desktop > .relative:hover > a {
  padding-bottom: 3px;
  border-bottom: 1px solid white;
  transition: border-bottom 0.4s ease, padding-bottom 0.3s ease;
}

.nav-desktop > .relative:hover > a > i {
  transform: rotate(180deg) translateY(-15%);
  transition: transform 0.5s ease;
}

.nav-desktop > .relative:hover .modal {
  @apply lg:flex lg:flex-col;
  padding-block: 10px;
}

.nav-desktop > .relative > .modal > a {
  padding-block: 7px;
}

.nav-desktop > .relative > a:hover + .modal {
  @apply lg:flex lg:flex-col;
}

.hamburger {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  background-color: #111;
  border-radius: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.line-contact {
  background-color: #fff;
}

.clicked .line-1 {
  transform: rotateZ(-405deg) translate(-0.3rem, 0.6rem);
}

.clicked .line-2 {
  opacity: 0;
}

.clicked .line-3 {
  transform: rotateZ(405deg) translate(-0.35rem, -0.6rem);
}

.nav-desktop .relative .modal {
  top: 250%;
  left: 50%;
  transform: translateX(-48%);
}

.nav-desktop .modal:hover {
  @apply lg:flex lg:flex-col;
}

.nav-desktop .modal:before {
  content: "";
  position: absolute;
  display: block;
  top: -24%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
  width: 100%;
  height: 38px;
}

.advantages .img,
.btn-question .img {
  @apply min-w-[34px] xl:min-w-[52px];
}

.btn-question p {
  font-size: clamp(0.8125rem, 0.7607rem + 0.221vw, 0.9375rem);
}

/* .advantages img.third {
  @apply w-[37px] xl:w-[67px];
}

.advantages img.fourth {
  @apply w-[47px] xl:w-[127px];
} */

.advantages .flex {
  @apply gap-x-[10px] items-center md:w-[45%] xl:items-start;
}

.categories > .item {
  @apply text-[13px] px-[24px] py-[12px] rounded-[30px] font-[500] hover:bg-red-600 hover:border-none cursor-pointer select-none;
  border: 1px solid #c2c2c2;
}

.services__content > .item {
  @apply bg-[#0069A2] pt-[40px] pb-[25px] px-[30px] rounded-[15px] flex-1 text-white;
}

.services__content .number {
  @apply text-black text-[1.2rem] font-semibold flex items-center justify-center w-[57px] h-[57px] bg-white rounded-full mb-[25px];
}

.services__content .title {
  @apply text-[26px] text-white font-semibold mb-[12px];
}

.services__content .title {
  @apply text-[1.6rem] text-white font-bold mb-[20px];
}

.services__content .desc p {
  @apply text-[.92rem] leading-[28px] font-medium mb-5;
}

.ways .item {
  @apply md:w-[47%] pt-[30px] pb-[30px] px-5 bg-white rounded-[10px] lg:pb-[40px] hover:scale-[1.02] transition-transform;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ways .title {
  @apply text-[26px] md:text-[22px] lg:text-[26px] font-semibold leading-[35px] mb-5;
}

.ways .price {
  @apply text-[24px] font-semibold;
}

.ways .detailed {
  @apply relative bottom-2 text-[1rem] font-[500] leading-[24px] text-[#0069A2] select-none border-b-[1.5px] border-solid border-red-500;
}

.ways .desc {
  @apply leading-[25px] text-[14px] font-[500] mb-[60px];
}

.statistics p.title {
  font-size: clamp(1.875rem, 1.5625rem + 1.5625vw, 2.8125rem);
}

.choose {
  @apply py-[60px];
}

.choose p.title {
  @apply font-[600] text-center sm:mb-[50px];
  font-size: clamp(2.0625rem, 1.8294rem + 0.9945vw, 2.625rem);
}

.choose .flex-child {
  @apply flex flex-col items-center sm:flex-row sm:justify-center lg:w-1/2 lg:justify-stretch;
}

.choose .flex-child:nth-child(even) {
  @apply sm:flex-row-reverse lg:flex-row;
}

.choose .flex-child:nth-child(3),
.choose .flex-child:nth-child(4) {
  @apply lg:flex-row-reverse;
}

.choose .item {
  @apply max-w-[350px] w-full h-[350px] sm:w-1/2 sm:max-w-[350px] sm:h-[400px] lg:max-w-none lg:w-1/2 lg:h-[480px];
}

.choose .item-img {
  @apply bg-no-repeat bg-cover lg:bg-center;
}

.choose .item-text {
  @apply pt-[50px] px-[35px] sm:pt-5 sm:px-[35px] lg:pt-8 lg:px-[20px] xl:px-[35px] xl:pt-[50px];
  line-height: 26.1px; /* 175.094% */
}

.choose .subtitle {
  @apply text-[18.9px] font-[600] mb-[8px];
}

.choose .desc {
  @apply text-[15px];
}

.form .title {
  @apply font-[600] md:text-center md:mb-[30px] lg:mb-[50px] text-[#0069A2] max-w-[900px] mx-auto mb-[20px];
  font-size: clamp(2.0625rem, 1.8294rem + 0.9945vw, 2.625rem);
}

form .form__input {
  @apply px-[21px] py-[18.5px] text-[15px]  rounded-[10px] w-full;
  border: 1px solid #000;
}

form .form__input::placeholder {
  @apply font-[400];
}

.form__group + .form__group {
  margin-top: 20px;
}

span.blue-2 {
  color: #0069a2;
  border-bottom: 2px solid red;
  padding-bottom: 2px;
}

.form-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto; */
  grid-template-areas:
    "pre"
    "main"
    "end";
}

@media (min-width: 1024px) {
  .form-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "pre main main main"
      ". end end end";
  }
}

@media (min-width: 1280px) {
  .form-grid {
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "pre main main main end";
  }
}
.form-grid .pre {
  grid-area: pre;
}

.form-grid .main {
  grid-area: main;
}

.form-grid .end {
  grid-area: end;
}

.pre .text {
  @apply text-[18px] mb-[30px] text-[#000] font-[500] leading-9;
}

.cancel-title {
  @apply text-[#F00] text-[20px] font-bold mb-[14px];
}

.pre .item {
  @apply flex gap-2 items-center;
}

.pre .item + .item {
  @apply mt-3;
}

.end .text {
  @apply font-[500] leading-9;
}

.cancel .item img {
  animation: rotateClockWise 1.2s linear infinite;
}

.cancel:hover .item img {
  animation: rotateAntiClockWise 1.2s linear infinite;
}

@keyframes rotateClockWise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAntiClockWise {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.iti__selected-flag {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 21px !important;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type="text"],
.iti--allow-dropdown input[type="tel"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="text"],
.iti--separate-dial-code input[type="tel"] {
  padding-left: 66px !important;
}
.iti {
  display: block !important;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 500;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-message {
  position: fixed;
  top: -5%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: showOut 2.5s ease-out;
  animation: showOut 2.5s ease-out;
  z-index: 1003;
}

@keyframes showOut {
  0% {
    opacity: 0;
  }
  20%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

  20%,
  100% {
    -webkit-transform: translate(-50%, 115%);
    transform: translate(-50%, 115%);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.faq {
  color: #fff;
}

.faq p.title {
  @apply font-[600] mb-[50px];
  font-size: clamp(2.0625rem, 1.8294rem + 0.9945vw, 2.625rem);
}

.questions .item {
  @apply border-solid border-white border-t-[1px];
}

.questions .item:last-child {
  @apply border-solid border-white border-b-[1px];
}

.questions p {
  @apply text-[24px];
}

.questions .item .img {
  @apply p-2;
}

.questions .item svg {
  position: relative;
  top: 0.7px;
  left: 0.3px;
}

.questions .clp:hover .img {
  @apply bg-white rounded-full;
  transition: background 1s ease, border-radius 1s ease;
}

.questions .clp svg {
  transition: rotate 0.2s ease;
}
.questions .clp.active svg {
  rotate: -45deg;
  /* transition: rotate 1s ease; */
}

.questions .item .img path {
  stroke: #fff;
}

.questions .item .img rect {
  fill: #fff;
}

.questions .clp:hover .img path {
  stroke: #0069a2;
}

.questions .clp:hover .img rect {
  fill: #0069a2;
}

.questions .item {
  cursor: pointer;
}

.questions .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-size: 18px;
  font-weight: 500;
}

.questions li {
  list-style: inside;
}

.questions li {
  padding-block: 3px;
}

.questions .answer-link {
  @apply border-b-2 border-solid border-white;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
}

.interest p.title {
  @apply font-[600];
  font-size: clamp(2.0625rem, 1.8294rem + 0.9945vw, 2.625rem);
}

.interest .item {
  @apply relative block h-[150px] w-full max-w-[450px] md:h-[230px] lg:h-[250px] md:w-1/3 rounded-[10px];
  overflow: hidden;
}

.interest .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: scale 0.3s ease;
}

.interest .item .bg {
  background: linear-gradient(
    0deg,
    rgba(15, 15, 15, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.interest .item:hover img {
  scale: 1.05;
}

.interest .item:hover .bg {
  opacity: 0.7;
}

.interest .item p {
  position: absolute;
  z-index: 2;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20.703px;
  font-weight: 600;
  color: white;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
}

.interest .item:hover p {
  font-size: 21px;
}

.footer .item {
  @apply basis-1/4;
}

.footer .item .title {
  @apply text-[1rem] mb-4 font-[600];
}

.footer .desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
}

.footer .desc a {
  color: #0069a2;
}

.t-menuburger {
  position: relative;
  flex-shrink: 0;
  width: 28px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

.t-menuburger span {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  height: 3px;
}

.contacts p.title {
  @apply text-[30px] lg:text-[50px]  text-white font-medium mt-[40px] mb-[40px] lg:mt-[50px] lg:mb-[20px];
}

.contacts .info a {
  width: fit-content;
  border-bottom: 1px solid #ff0000;
  transition: transform 0.2s ease;
}

.contacts .info a:hover {
  transform: scale(1.05);
}

.contacts .phone {
  @apply text-[20px] md:text-[30px] lg:text-[52px];
}

.contacts .email {
  @apply text-[23px] md:text-[33.8px] lg:text-[60px];
}

.contacts .line {
  height: 1.5px;
}

.address-info .item {
  @apply text-white md:text-black md:bg-white  md:w-full rounded-2xl md:px-10 md:py-8;
}

.nav-mobile {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-size: 18px;
  font-weight: 500;
}

.nav-mobile a {
  @apply mb-3 text-neutral-800;
}

.nav-mobile a:first-child {
  @apply mt-1.5;
}

.nav-mobile .modal {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-size: 18px;
  font-weight: 500;
}

.nav-mobile > .relative > .clicked > i {
  transform: rotate(180deg) translateY(-15%);
  transition: transform 0.5s ease;
}

.nav-mobile div[data-subcollapse] {
  cursor: pointer;
}

#progressBar {
  --progress: 0;
  height: 3px;
  width: var(--progress);
  background-color: yellow;
}

.btn-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 0, 0, 0.6);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(244, 4, 4, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(246, 4, 4, 0);
  }
}

.item-img-1 {
  background-image: url("./assets/images/flex1.png");
}

.item-img-2 {
  background-image: url("./assets/images/flex2.jfif");
}

.item-img-3 {
  background-image: url("./assets/images/flex3.png");
}

.item-img-4 {
  background-image: url("./assets/images/flex4.jfif");
}

.aboutus .img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.aboutus .img-1 {
  grid-area: a;
  background-image: url("https://thumb.tildacdn.com/tild3937-3833-4564-a362-383638333936/-/cover/940x940/center/center/-/format/webp/building-airport-air.jpg");
  height: 100%;
  min-height: 400px;
}

.aboutus .img-2 {
  grid-area: b;
  background-image: url("https://thumb.tildacdn.com/tild3436-3830-4236-b061-383636613038/-/resize/600x600/-/format/webp/building-business-ce.jpg");
  height: 100%;
  min-height: 180px;
}

.aboutus .img-3 {
  grid-area: c;
  background-image: url("https://thumb.tildacdn.com/tild3265-3638-4566-a630-303566323734/-/resize/600x600/-/format/webp/pexels-photo-1267338.jpeg");
  height: 100%;
  min-height: 180px;
}

.aboutus .text {
  grid-area: d;
  height: min-content;
}

.grid-about {
  grid-template-areas:
    "d d"
    "a a"
    "b c";
  gap: 15px;
}

@media (min-width: 450px) {
  .aboutus .img-1 {
    min-height: 400px;
  }
  .aboutus .img-3,
  .aboutus .img-2 {
    min-height: 220px;
  }
}

@media (min-width: 768px) {
  .aboutus .img-1 {
    min-height: 600px;
  }
  .aboutus .img-3,
  .aboutus .img-2 {
    min-height: 300px;
  }
}

@media (min-width: 1024px) {
  .grid-about {
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
    grid-template-areas:
      "a a d d"
      "a a d d"
      "b c d d";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }

  .aboutus .img-1 {
    min-height:auto;
  }
  .aboutus .img-3,
  .aboutus .img-2 {
    min-height: auto;
  }
}


iframe {
  min-height: 300px;
}

.logo {
  width: 60px;
  height: 55px;
}